<!--
============================================
; Title:  index.ejs
; Author: Jake Seever
; Date:   09 March 2019
; Description: Morgan logger demonstration
;===========================================
-->

<!DOCTYPE html>
<html Lang="en">
<head>
  <meta charset="UTF-8">
  <title>Exercise 3.2 - Jake Seever</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

   <style>
     /* Style the list */
    h2{text-align:center;margin-top: 2%;}
   </style>

  </head>

  <body>

    <!-- Create a navigation bar using Bootstrap-->
    <nav class="navbar-expand-sm bg-dark navbar-dark">
     <ul class="navbar-nav">
        <!-- Link to the Home page -->
        <li class="nav-item active">
          <a href="#" class="nav-link">Home</a>
        </li>
        <!-- Link to the About Page -->
        <li class="nav-item active">
          <a href="#" class="nav-link">About</a>
        </li>
       <!-- Link to the Contact us page-->
       <li class="nav-item active">
         <a href="#" class="nav-link">Contact Us</a>
       </li>
     </ul>
    </nav>

    <div class="container" role="main">
      <br><br>
      <!-- Out put the response message -->
      <h2><%= message %></h2>
    </div>

  </body>

</html>
