<!--
============================================
; Title:  footer.ejs
; Author: Jake Seever
; Date:   22 March 2019
; Description: The footer section of a page view - ems project
;===========================================
-->


<footer class="bg-dark footer fixed-bottom">

  <h5 class="text-center text-white">&copy; JSDesigns 2019</h5>

</footer>

<% include scripts %>
