<!--
============================================
; Title:  header.ejs
; Author: Jake Seever
; Date:   22 March 2019
; Description: The header section of a page view - ems project
;===========================================
-->
<!DOCTYPE html>
<html lang="en">

  <% include header %>

  <body>
    <% include navbar %>

    <!-- Main jumbotron for the landing page -->
    <div class="jumbotron">

      <div class="container">

        <h1 class="display-3 text-center">Welcome to the JS Designs EMS</h1>
        <br />

        <h5 class="text-center">
          From this page you can browse employees, access employee information,
          and add new employees to the system.
        </h5>

      </div>
      <br /> <br /> <br />


      <div class="row">

        <div class="col text-center">
          <a href="/list" class="btn btn-secondary text-center"> View Employees</a>&nbsp &nbsp
          <a href="/new" class="btn btn-secondary text-center"> Add Employee</a>
        </div>

      </div>

    </div>

    <% include footer %>

    <% include scripts %>

  </body>

</html>



