<!--
============================================
; Title:  list.ejs
; Author: Jake Seever
; Date:   22 March 2019
; Description: The employee list - ems project
;===========================================
-->

<br /> <br />
<div class="container" id="employeeList">

  <h2>Employee List</h2>
  <br />

  <table class="table col-md-12 table-striped" id="employeeTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Department</th>
        <th scope="col">Position</th>
      </tr>
    </thead>
    <tbody id="tbody">
        <%if(employees.length > 0) { %>
          <% for (var k = 0; k < employees.length; k++) {%>
              <tr>
                <td><%= employees[k].firstName %></td>
                <td><%= employees[k].lastName %></td>
                <td><%= employees[k].department %></td>
                <td><%= employees[k].position %></td>
              </tr>
          <% } %>
       <% } %>
    </tbody>
  </table>

</div>
