<!--
============================================
; Title:  list.ejs
; Author: Jake Seever
; Date:   22 March 2019
; Description: The employee list - ems project
;===========================================
-->

<!DOCTYPE html>
<html lang="en">
  <% include header %>

  <body>
    <% include navbar %>


<br /> <br />
<div class="container" id="employeeList">

  <h2>Employee List</h2>
  <br />

  <% if(employees.length > 0) { %>
  <table class="table col-md-11 table-striped" id="employeeTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    <tbody id="tbody">
      <% employees.forEach(function (entry) { %>
        <tr>
          <td><%= entry.firstName %></td>
          <td><%= entry.lastName %></td>
        </tr>
    </tbody>
    <% }) %>
  </table>
  <% } %> else { %>
    <h3>There are not any employees in the list currently </h3><a href="/new" class="btn btn-secondary bg-info border-light"> Add Employee</a>
  <% } %>

</div>
