  <!--
============================================
; Title:  navbar.ejs
; Author: Jake Seever
; Date:   22 March 2019
; Description: The navigation section of a page view - ems project
;===========================================
-->

  <!-- Create a navigation bar using Bootstrap-->
  <nav class="navbar-expand-sm bg-dark navbar-dark">

      <ul class="navbar-nav">

        <!-- Link to the Home page -->
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>

        <!-- Link to the About Page -->
        <li class="nav-item">
          <a class="nav-link"  href="/list">Employees</a>
        </li>

        <!-- Link to the Contact us page-->
        <li class="nav-item">
          <a class="nav-link" href="/new">Add employee</a>
        </li>

      </ul>

   </nav>
