  <!--
============================================
; Title:  new.ejs
; Author: Jake Seever
; Date:   22 March 2019
; Description: Add a new employee page view - ems project
;===========================================
-->
<hr />

<div class="container" role="main" id="addEmployee">
    <br /><br />

    <h2>Add a New Employee</h2>
    <br />

    <div class="form-group">
      <label for="empFirstName">First Name:</label>
      <input type="text" class="form-control alert-warning" data-bind="value: firstName" id="empFirstName">
    </div>

    <div class="form-group">
      <label for="empLastName">Last Name:</label>
      <input type="text" class="form-control alert-warning" data-bind="value: lastName" id="empLastName">
    </div>

    <div class="form-group">
        <label for="empPhone">Phone:</label>
        <input type="text" class="form-control alert-warning" id="empPhone">
      </div>

    <div class="form-group">
      <label for="empEmail">Email:</label>
      <input type="text" class="form-control alert-warning" id="empEmail">
    </div>

    <div class="form-group">
      <label for="empEmail">Department:</label>
      <input type="text" class="form-control alert-warning" id="empDepartment">
    </div>

    <div class="form-group">
      <label for="empEmail">Position:</label>
      <input type="text" class="form-control alert-warning" id="empPostition">
    </div>

    <div class="form-group">
        <label for="empEmail">Salary:</label>
        <input type="text" class="form-control alert-warning" id="empSalary">
      </div>

    <div class="form-group">
        <a class="btn btn-secondary" href="#" role="button">Add Employee</a>
    </div>

 </div>

 <br />
