  <!--
============================================
; Title:  new.ejs
; Author: Jake Seever
; Date:   22 March 2019
; Description: Add a new employee page view - ems project
;===========================================
-->
<hr />

<div class="container" role="main" id="addEmployee">
    <br /><br />

    <h2>Add a New Employee</h2>
    <br />

    <form class="form col-md-11">

      <div class="form-group">
        <label for="empFirstName">First Name:</label>
        <input type="text" class="form-control alert-warning" data-bind="value: firstName" id="empFirstName">
      </div>

      <div class="form-group">
        <label for="empLastName">Last Name:</label>
        <input type="text" class="form-control alert-warning" data-bind="value: lastName" id="empLastName">
      </div>

    </form>

 </div>

 <br /> <br />
