  <!--
============================================
; Title:  navbar.ejs
; Author: Jake Seever
; Date:   22 March 2019
; Description: The page section to view an employees details - ems project
;===========================================
-->

<!DOCTYPE html>
<html lang="en">

  <% include header %>

  <body>
    <% include navbar %>

    <div class="container col-lg-7">
      <br /> <br />

      <h2>Employee Details</h2>
      <br />

      <div>

        <div class="form-group">

          <label for="txtFirstName">First Name:</label>
          <input
            type="text"
            class="form-control"
            id="txtFirstName"
            readonly
            value="<%= employees[0].firstName %>"
            name="txtFirstName"/>

        </div>

        <div class="form-group">

          <label for="txtLastName">Last Name:</label>
          <input
            type="text"
            class="form-control"
            id="txtLastName"
            readonly
            value="<%= employees[0].lastName %>"
            name="txtLastName"/>

        </div>

      </div>

      <br /><br />

      <a href="/" class="btn btn-secondary">Return</a>

    </div>

    <% include scripts %>

    <% include footer %>

  </body>

</html>

