  <!--
============================================
; Title:  navbar.ejs
; Author: Jake Seever
; Date:   22 March 2019
; Description: The page section to view an employees details - ems project
;===========================================
-->


<div class="container">
  <ul class="list-group" id="viewGroup">

  </ul>



</div>
