<!--
============================================
; Title:  contact.ejs
; Author: Jake Seever
; Date:   10 March 2019
; Description: The contact page
;===========================================
-->

<% include header %>

<div role="main" class="container">
  <br /><br />

  <h2>Welcome to the <%= message %>!</h2>
</div>

<% include footer %>
