<!--
============================================
; Title:  index.ejs
; Author: Jake Seever
; Date:   10 March 2019
; Description: The header section of a page view - Assignment 3.4
;===========================================
-->

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Putting it all together...</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <style>
    /* Style the list */
   h2{text-align:center;margin-top: 2%;}
  </style>

</head>

  <body>

  <!-- Create a navigation bar using Bootstrap-->
    <nav class="navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <!-- Link to the Home page -->
       <li class="nav-item active">
         <a class="nav-link" href="/">Home</a>
       </li>
       <!-- Link to the About Page -->
       <li class="nav-item">
         <a class="nav-link"  href="/about">About me</a>
       </li>
        <!-- Link to the Contact us page-->
        <li class="nav-item">
          <a class="nav-link" href="/contact" >Contact</a>
        </li>
         <!-- Link to the products us page-->
         <li class="nav-item">
          <a class="nav-link"  href="/products">Products</a>
        </li>
      </ul>
   </nav>


